<div class="wrapper wrapper-dashboard">
<div class="wrapper">

  <div class="container-greetings">
    <div class="container">
      <h1>Hi <%=  @my_info.username %>!</h1>
      <p>What would you like to see today?</p>
    </div>
  </div>

  <div class="container">
      <div class="container-tabs centered-pills">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" <%= "class=active" if @tab == "info" %> ><a href="#info" aria-controls="info" role="tab" data-toggle="tab">My info</a></li>
        <li role="presentation" class="<%= 'active' if @tab == "bookings" %>" ><a href="#bookings" aria-controls="bookings" role="tab" data-toggle="tab">My bookings</a></li>
        <li role="presentation" <%= "class=active" if @tab == "stars" %>><a href="#stars" aria-controls="stars" role="tab" data-toggle="tab">My stars</a></li>
        <li role="presentation"><a href="#newstar" aria-controls="newstar" role="tab" data-toggle="tab">Add a New star</a></li>
      </ul>
    </div>

    <!-- Tab panes -->
  <div class="container">
    <div class="tab-content text-center">

      <div role="tabpanel" class="tab-pane <%= 'active' if @tab == "info" %>" id="info">
        <div class="container container-info">
          <h1>My info</h1>

          <%= cl_image_tag(@my_info.avatar, width: 150, height: 150, crop: :thumb, gravity: :face, class: 'cercle-avatar') %>

          <p>username: <%=  @my_info.username %></p>
          <p>Species:
          <%if  @my_info.human == true %>
            human
            <% else %>
            alien
          <% end %>
          </p>

          <%= link_to edit_user_registration_path do  %>
            <p>Edit your profile</p>
          <% end %>

        </div>
      </div>



      <div role="tabpanel" class="tab-pane <%= 'active' if @tab == "bookings" %>" id="bookings">
        <h1>My bookings</h1>

        <div class="container">
          <div class="current-bookings text-center">
            <h3>Your current trips</h3>
            <div class="current-bookings-cards">
              <% if @current_bookings.empty? %>
                <p>You have no current trips planned.</p>
              <% else %>
                <% @current_bookings.each do |booking| %>
                  <div class="col-xs-4">
                    <%= render 'shared/card', object: booking.star %>
                    <%= link_to star_booking_path(booking.star, booking), method: :delete, data: {confirm: "Are you sure?"} do  %>
                      <p>Delete this booking</p>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="next-bookings">
            <h3>Your next trips</h3>
            <div class="next-bookings-cards">
              <% if @next_bookings.empty? %>
                <p>You have no future trips planned.</p>
              <% else %>
                <% @next_bookings.each do |booking| %>
                  <div class="col-xs-4">
                    <%= render 'shared/card', object: booking.star %>
                    <%= link_to star_booking_path(booking.star, booking), method: :delete, data: {confirm: "Are you sure?"} do  %>
                      <p>Delete this booking</p>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="past-bookings">
            <h3>Your past trips</h3>
            <div class="past-bookings-cards">
              <% if @past_bookings.empty? %>
                <p>You have no future trips planned.</p>
              <% else %>
                <% @past_bookings.each do |booking| %>
                  <div class="col-xs-4">
                    <%= render 'shared/card', object: booking.star %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="stars">
        <div class="container">
          <div class="container-index">
            <div class="row">
              <h1>My stars</h1>
                <% unless @my_stars.nil? %>
                  <% @my_stars.each do |star| %>
                    <div class="col-xs-4">
                      <%= render 'shared/card', object: star %>
                      <%= link_to star.name, star_path(star) %> - <%= star.constellation %>
                      <%= link_to star_path(star), method: :delete, data: {confirm: "Are you sure?"} do  %>
                      <i class="fas fa-trash-alt"></i>
                      <% end %>
                      <%= link_to edit_star_path(star) do  %>
                      <i class="fas fa-pencil-alt"></i>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>

        <h1>My booked stars</h1>
        <div class="container">
          <div class="container-index">
            <div class="row">
              <%@my_booked_stars.each do |booking| %>
              <div class="col-xs-4">
                <%= render 'shared/card', object: booking.star %>
                <p> From <%= booking.arrival_date%> to <%= booking.arrival_date %> </p>
                <p> by <%= booking.user.username %> </p>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="newstar">
        <div class="star-form ">
          <div class="tab-title text-center">
            <h1>Add your star to rent</h1>
          </div>
          <%= simple_form_for(@new_star) do |f| %>
            <!-- The new star path is all we need. This is connected to @new_star-->
            <div class="form-inputs form-group text-center">
            <%= f.input :name, required: true %>
            <%= f.input :constellation, required: true, collection:   array_of_constellations = [
              "Andromeda",
              "Cassiopeia",
              "Centaurus",
              "Cetus",
              "Circinus",
              "Lyra",
              "Microscopium",
              "Norma",
              "Octans",
              "Pavo",
              "Pegasus",
              "Tucana",
              "Ursa Major",
              "Virgo",
              "Volans",
              "Vulpecula"] %>
              <div class="slidecontainer">
                <%= f.input :water, input_html: {type: "range", min: "0", max: "100", class: "slider", id: "myWaterRange"} %>
                <p style="color: white;">Water%: <span id="waterDemo"></span></p>
              </div>
              <div class="slidecontainer">
                <%= f.input :breathability, input_html: {type: "range", min: "0", max: "100", class: "slider", id: "myBreathabilityRange"} %>
                <p style="color: white;">Oxygen%: <span id="breathabilityDemo"></span></p>
              </div>
              <div class="slidecontainer">
                <%= f.input :asteroid_attack, input_html: {type: "range", min: "0", max: "100", class: "slider", id: "myAsteroidAttackRange"} %>
                <p style="color: white;">Probability of asteroid attack: <span id="myAsteroidAttackdemo"></span></p>
              </div>
            <%= f.input :description, required: true %>
            <%= f.input :price_per_day, required: true %>
            <%= f.input :photos, as: :file, multiple: true %>
            <%= f.input :photos_cache, as: :hidden %>
            </div>
            <div class="form-actions form-group text-center">
              <%= f.button :submit, class: "btn btn-space-pink" %>
            </div>
          <% end %>
        </div>
      </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
        </div>
      </div>
    </div>
  </div>
</div>








