     <%= simple_form_for(@star) do |f| %>
            <!-- The new star path is all we need. This is connected to @new_star-->
            <div class="row">
              <div class="col-md-6 col-md-offset-3 ">
                <div class="form-inputs form-group text-center">
                <%= f.input :name, required: true %>
                <%= f.input :constellation, required: true, collection:   array_of_constellations = [
                  "Andromeda",
                  "Cassiopeia",
                  "Centaurus",
                  "Cetus",
                  "Circinus",
                  "Lyra",
                  "Microscopium",
                  "Norma",
                  "Octans",
                  "Pavo",
                  "Pegasus",
                  "Tucana",
                  "Ursa Major",
                  "Virgo",
                  "Volans",
                  "Vulpecula"] %>
                  <div class="slidecontainer">
                    <%= f.input :water, input_html: {type: "range", min: "0", max: "100", class: "slider", id: "myWaterRange"} %>
                    <p style="color: $gray;">Water%: <span id="waterDemo"></span></p>
                  </div>
                  <div class="slidecontainer">
                    <%= f.input :breathability, input_html: {type: "range", min: "0", max: "100", class: "slider", id: "myBreathabilityRange"} %>
                    <p style="color: $gray;">Oxygen%: <span id="breathabilityDemo"></span></p>
                  </div>
                  <div class="slidecontainer">
                    <%= f.input :asteroid_attack, input_html: {type: "range", min: "0", max: "100", class: "slider", id: "myAsteroidAttackRange"} %>
                    <p style="color: $gray;">Probability of asteroid attack: <span id="myAsteroidAttackdemo"></span></p>
                  </div>
                <%= f.input :description, required: true %>
                <%= f.input :price_per_day, required: true %>
                <%= f.input :photos, as: :file, multiple: true %>
                <%= f.input :photos_cache, as: :hidden %>
                <div class="form-actions form-group text-center">
                  <%= f.button :submit, class: "btn btn-space-pink" %>
                </div>
              </div>
            </div>
          <% end %>
