<%= render 'shared/banner_show' %>

<% if @star.user == current_user %>
  <div class="container">

        <h1><%= @star.name%></h1>
        <p><em>*This star belongs to you</em></p>


          <%= cl_image_tag("http://res.cloudinary.com/floflow/image/upload/v1526999812/alien1.jpg", width: 70, crop: :fill) %>
          <p><%=@star.user.username%></p>


          <h3>More about <%= @star.name%> </h3>
          <p class="text-justify"><%= @star.description%> </p>
          <p><i class="fas fa-tint"> </i>Water: <%= @star.water%> %</p>
          <p><i class="fas fa-leaf"> </i> Breathability: <%= @star.breathability%> %</p>
          <p><i class="fas fa-star"> </i> Asteroid attack: <%= @star.asteroid_attack%> %</p>
          <p><i class="fas fa-sun"> </i>Daylight: <%= @star.daylight%> %</p>
          <p><i class="fas fa-heart"> </i>Life existence: <%= @star.life_existence%> </p>

<% else %>
<div class="container">
  <div class="profil">
    <div class="starname">
      <h1><%= @star.name%></h1>
    </div>
    <div class="photo">
      <div class="star-content">
        <%= cl_image_tag("http://res.cloudinary.com/floflow/image/upload/v1526999812/alien1.jpg", width: 70, crop: :fill) %>
        <p><%=@star.user.username%></p>
      </div>
    </div>
    <div class="description">
      <div class="description-content">
        <h3>More about <%= @star.name%> </h3>
        <p><%= @star.description%> </p>
        <div class="criteria">
          <div class="criteria-item"><i class="fas fa-tint"></i><p>Water</p><%= @star.water%> %</div>
          <div class="criteria-item"><i class="fas fa-leaf"></i><p>Breathability</p><%= @star.breathability%> %</div>
          <div class="criteria-item"><i class="fas fa-star"></i><p>Asteroid attack</p><%= @star.asteroid_attack%> %</div>
          <div class="criteria-item"><i class="fas fa-sun"></i><p>Daylight</p><%= @star.daylight%> %</div>
          <div class="criteria-item"><i class="fas fa-heart"></i><p>Life existence</p><%= @star.life_existence%> </div>
        </div>
      </div>
    </div>
    <div class="form">
      <p> <strong><%=@star.price_per_day%>$</strong> per night</p>
      <div class="formstyle">
      <%= simple_form_for([@star, @booking]) do |t| %>
      <%= t.input :arrival_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= t.input :departure_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= t.submit class: 'btn btn-primary' %>
      <% end %>
     </div>
    </div>
  </div>
  <div class="review">
    <div class="list-review">
      <% if @star.star_reviews.empty? %>
        No comment yet
      <% else %>
        <% @star.star_reviews.each do |review| %>
          <div class="review-item">
            <% 5.times do |i| %>
              <i class="fas fa-star <%= 'yellow' if review.rating > i  %>"></i>
            <% end %>
            <%= review.comment %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="add-review">
      <h2>Add a comment</h2>
      <%= simple_form_for([@star, @review]) do |f| %>
        <%= f.input :rating %>
        <%= f.input :comment %>
        <%= f.submit "Add review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>


