<%= render 'shared/banner_show' %>

<% if @star.user == current_user %>

  <div class="container">
    <div class="container-profil-if-not-user">
      <div class="child">
        <div class="profil">
          <div class="namephoto">
            <h1><%= @star.name%></h1>
            <div class="star-content">
              <%= cl_image_tag @star.user.avatar, class: "cercle-avatar", width: 100, height: 100, crop: :thumb, gravity: :face %>
              <p><%=@star.user.username%></p>
            </div>
          </div>
          <div class="description">
            <div class="description-content">
              <h3>More about <%= @star.name%> </h3>
              <p><%= @star.description%> </p>
              <div class="criteria">
                <div class="criteria-item"><i class="fas fa-tint"></i><p>Water</p><%= @star.water%> %</div>
                <div class="criteria-item"><i class="fas fa-leaf"></i><p>Breathability</p><%= @star.breathability%> %</div>
                <div class="criteria-item"><i class="fas fa-star"></i><p>Asteroid attack</p><%= @star.asteroid_attack%> %</div>
                <div class="criteria-item"><i class="fas fa-sun"></i><p>Daylight</p><%= @star.daylight%> %</div>
                  <div class="criteria-item"><i class="fas fa-heart"></i><p>Life existence</p>
                  <%if  @star.life_existence%>
                   Yes
                  <% else %>
                    No
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>

  <div class="container">

    <div class="container-profil-if-not-user">
      <div class="child">
        <div class="profil">
          <div class="namephoto">
            <h1><%= @star.name%></h1>
            <div class="star-content">
              <%= cl_image_tag @star.user.avatar, class: "cercle-avatar", width: 100, height: 100, crop: :thumb, gravity: :face %>
              <p><%=@star.user.username%></p>
            </div>
          </div>
          <div class="description">
            <div class="description-content">
              <h3>More about <%= @star.name%> </h3>
              <p><%= @star.description%> </p>
              <div class="criteria">
                <div class="criteria-item"><i class="fas fa-tint"></i><p>Water</p><%= @star.water%> %</div>
                <div class="criteria-item"><i class="fas fa-leaf"></i><p>Breathability</p><%= @star.breathability%> %</div>
                <div class="criteria-item"><i class="fas fa-star"></i><p>Asteroid attack</p><%= @star.asteroid_attack%> %</div>
                <div class="criteria-item"><i class="fas fa-sun"></i><p>Daylight</p><%= @star.daylight%> %</div>
                <div class="criteria-item"><i class="fas fa-heart"></i><p>Life existence</p>
                <%if  @star.life_existence%>
                 Yes
                <% else %>
                  No
                <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="child">
        <div class="show-form">
          <%= simple_form_for([@star, @booking]) do |t| %>
            <%= t.input :arrival_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= t.input :departure_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <div class="price text-center">
              <p> <strong><%=@star.price_per_day%>$</strong> per night</p>
            </div>
            <div class="form-actions form-group text-center">
              <%= t.submit class: "form-actions btn btn-space-pink text-center" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<div class="container">
  <div class="review">
    <div class="list-review">
      <% if @star.star_reviews.empty? %>
        <p>No comment yet</p>
      <% else %>
        <% @star.star_reviews.reverse.each do |review| %>
          <%= render 'star_reviews/review_template', object: review %>
        <% end %>
      <% end %>
    </div>
    <% if @star.user != current_user %>
      <div class="add-review">
        <h2>Add a comment</h2>
        <div class="review-form">
          <%= render 'star_reviews/review_form', star: @star, review: @review %>
        </div>
      </div>
    <% end %>
  </div>
</div>


