<div class="wrapper top-5-wrapper">
  <div class="container">
    <div class="text-center">
      <div class="row">
        <div class="col-12">
          <h1>Top 5 Star Spots</h1>
        </div>
      </div>
      <div class="row">
        <%# @star each do  %>
        <div class="cards">
          <div class="card">
            <div class="col-xs-4">
              <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= asset_url('star1.jpeg') %>);">
                <span class="card-category">STAR1</span>
                <div class="card-description">
                  <!-- <h2><%#= star.name %></h2> -->
                  <h2>Star 1</h2>
                  <p>Charming alien hut</p>
                </div>
                <%= image_tag 'alien1.jpg', class: "avatar-small" %>
                <%= link_to "", "#", class: "card-link"  %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="col-xs-4">
              <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= asset_url('star2.jpeg') %>);">
                <span class="card-category">STAR1</span>
                <div class="card-description">
                  <!-- <h2><%#= star.name %></h2> -->
                  <h2>Star 1</h2>
                  <p>Charming alien hut</p>
                </div>
                <%= image_tag 'alien2.jpg', class: "avatar-small" %>
                <%= link_to "", "#", class: "card-link"  %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="col-xs-4">
              <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= asset_url('star3.jpeg') %>);">
                <span class="card-category">STAR1</span>
                <div class="card-description">
                  <!-- <h2><%#= star.name %></h2> -->
                  <h2>Star 1</h2>
                  <p>Charming alien hut</p>
                </div>
                <%= image_tag 'alien3.jpg', class: "avatar-small" %>
                <%= link_to "", "#", class: "card-link"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
